<form method = "POST" action = "/account/edit">
	First Name: <input type = "string" name = "firstName" value = ""></br>
	Last Name: <input type = "string" name = "lastName" value = ""></br>
	Shipping Address: <input type = "string" name = "shipping" value = ""></br>
	Billing Address: <input type = "string" name = "billing" value = ""></br>
	<input type = "submit" value = "Update Information!">
</form>
