<form method = "POST" action = "/store/add">
	Name: <input type = "string" name = "name" value = ""></br>
	Image: <input type = "string" name = "image" value = ""></br>
	Price: <input type = "string" name = "price" value = ""></br>
	Description: <input type = "string" name = "description" value = ""></br>
	<input type = "submit" value = "Add Chair">
</form>
